*{
    box-sizing: border-box;
}
.catalog{
    .catalogwrapper{
        margin: 5px;
        .colour{
            background-color: green;
            margin: 10px;
            height: 20px;
            border-radius: 5px;
        }
        .imgcatalog{
            background-color:#F9F9F9;
          
            
            border-radius: 5px;
            background-repeat: no-repeat;
            object-fit: cover;
            height: 450px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 30px;
            margin: 10px;
            align-items: center;
            .catimg{
                width: 700px;
                position: relative;
                 animation: mymove 3s ease-in-out;
                animation-iteration-count: infinite;
                object-fit: cover;
               
            }
            @keyframes mymove {
                0%   {top: 0px;}
                25%  {top: 10px;}
                75%  {top: 0px}
                100% {top: 20px;}
              }
            .center{
                 display: flex;
                justify-content: flex-start;
                align-items: start;
               
                
            .childcatalog{
                  display: flex;
                  justify-content: center;
                  flex-direction: column;
                  align-items: center;
                   width: 300px;
                   height: 200px;
                   font-size: 50px;
                   cursor: pointer;
                   border: 1px solid black;
                   background-color: rgba(245, 242, 242, 0.55);
                  margin-bottom:20px;
                  border-radius: 10px;
                  
                  &:hover{
                   border: 2px solid white;
                   background-color: green;
                   color: white;
                   transition: all 0.5s ease-in;
                   .catalogbtn{
                    border: none;
                    color: black;
                    font-size: 20px;
                    background-color: white;
                   }
                    
                  }
                  .catalogbtn{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                    outline: none;
                    width: 50px;
                    height: 50px;
                    font-size: 30px;
                    border: 1px solid black;
                    border-radius: 10px;
                     
                    &:hover{
                        background-color: #F9F9F9;
                    }
                  }}
            }
        }
    }
}

//for tablets
@media only screen and (min-width: 767px) and (max-width: 973px){
    .catalog{
        .catalogwrapper{
            overflow: hidden;
            margin: 5px;
            .colour{
                background-color: green;
                margin: 10px;
                height: 20px;
                border-radius: 5px;
            }
            .imgcatalog{
                background-color:#F9F9F9;
              
                
                border-radius: 5px;
                background-repeat: no-repeat;
                object-fit: cover;
                height: 650px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                padding: 30px;
                margin: 10px;
                align-items: center;
                .catimg{
                    width: 400px;
                    position: relative;
                     animation: mymove 3s ease-in-out;
                    animation-iteration-count: infinite;
                    object-fit: cover;
                   
                }
                @keyframes mymove {
                    0%   {top: 0px;}
                    25%  {top: 10px;}
                    75%  {top: 0px}
                    100% {top: 20px;}
                  }
                .center{
                     display: flex;
                    justify-content: flex-start;
                    align-items: start;
                   
                    
                .childcatalog{
                      display: flex;
                      
                      justify-content: center;
                      flex-direction: column;
                      align-items: center;
                       width: 200px;
                       height: 200px;
                       font-size: 40px;
                       cursor: pointer;
                       border: 1px solid black;
                       background-color: rgba(245, 242, 242, 0.55);
                      margin-bottom:20px;
                      border-radius: 10px;
                      
                      &:hover{
                       border: 2px solid white;
                       background-color: green;
                       color: white;
                       transition: all 0.5s ease-in;
                       .catalogbtn{
                        border: none;
                        color: black;
                        font-size: 20px;
                        background-color: white;
                       }
                        
                      }
                      .catalogbtn{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 10px;
                        outline: none;
                        width: 50px;
                        height: 50px;
                        font-size: 30px;
                        border: 1px solid black;
                        border-radius: 10px;
                         
                        &:hover{
                            background-color: #F9F9F9;
                        }
                      }}
                }
            }
        }
    }
}

//for ipad pro 12 inch
@media only screen and (min-width: 976px) and (max-width: 1025px){
    .catalog{
        .catalogwrapper{
            overflow: hidden;
            margin: 5px;
            .colour{
                background-color: green;
                margin: 10px;
                height: 20px;
                border-radius: 5px;
            }
            .imgcatalog{
                background-color:#F9F9F9;
              
                
                border-radius: 5px;
                background-repeat: no-repeat;
                object-fit: cover;
                height: 650px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                padding: 30px;
                margin: 10px;
                align-items: center;
                .catimg{
                    width: 400px;
                    position: relative;
                     animation: mymove 3s ease-in-out;
                    animation-iteration-count: infinite;
                    object-fit: cover;
                   
                }
                @keyframes mymove {
                    0%   {top: 0px;}
                    25%  {top: 10px;}
                    75%  {top: 0px}
                    100% {top: 20px;}
                  }
                .center{
                     display: flex;
                    justify-content: flex-start;
                    align-items: start;
                   
                    
                .childcatalog{
                      display: flex;
                      
                      justify-content: center;
                      flex-direction: column;
                      align-items: center;
                       width: 200px;
                       height: 200px;
                       font-size: 40px;
                       cursor: pointer;
                       border: 1px solid black;
                       background-color: rgba(245, 242, 242, 0.55);
                      margin-bottom:20px;
                      border-radius: 10px;
                      
                      &:hover{
                       border: 2px solid white;
                       background-color: green;
                       color: white;
                       transition: all 0.5s ease-in;
                       .catalogbtn{
                        border: none;
                        color: black;
                        font-size: 20px;
                        background-color: white;
                       }
                        
                      }
                      .catalogbtn{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 10px;
                        outline: none;
                        width: 50px;
                        height: 50px;
                        font-size: 30px;
                        border: 1px solid black;
                        border-radius: 10px;
                         
                        &:hover{
                            background-color: #F9F9F9;
                        }
                      }}
                }
            }
        }
    }
}

//phones
@media (max-width: 476px){
    .catalog{
        .catalogwrapper{
            overflow: hidden;
            margin: 5px;
            .colour{
                background-color: green;
                margin: 10px;
                height: 20px;
                border-radius: 5px;
            }
            .imgcatalog{
                background-color:#F9F9F9;
              
                
                border-radius: 5px;
                background-repeat: no-repeat;
                object-fit: cover;
                height: 650px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                padding: 30px;
                margin: 10px;
                align-items: center;
                .catimg{
                    width: 400px;
                    position: relative;
                     animation: mymove 3s ease-in-out;
                    animation-iteration-count: infinite;
                    object-fit: cover;
                   
                }
                @keyframes mymove {
                    0%   {top: 0px;}
                    25%  {top: 10px;}
                    75%  {top: 0px}
                    100% {top: 20px;}
                  }
                .center{
                     display: flex;
                    justify-content: flex-start;
                    align-items: start;
                   
                    
                .childcatalog{
                      display: flex;
                      
                      justify-content: center;
                      flex-direction: column;
                      align-items: center;
                       width: 200px;
                       height: 200px;
                       font-size: 40px;
                       cursor: pointer;
                       border: 1px solid black;
                       background-color: rgba(245, 242, 242, 0.55);
                      margin-bottom:20px;
                      border-radius: 10px;
                      
                      &:hover{
                       border: 2px solid white;
                       background-color: green;
                       color: white;
                       transition: all 0.5s ease-in;
                       .catalogbtn{
                        border: none;
                        color: black;
                        font-size: 20px;
                        background-color: white;
                       }
                        
                      }
                      .catalogbtn{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 10px;
                        outline: none;
                        width: 50px;
                        height: 50px;
                        font-size: 30px;
                        border: 1px solid black;
                        border-radius: 10px;
                         
                        &:hover{
                            background-color: #F9F9F9;
                        }
                      }}
                }
            }
        }
    }
}